:root {
    --tab-gradient: #407cff 318deg, #da8bff 1turn;
    --size: 1.3px;
    --duration: 5s;
    --general-gradient-secondary: #fcb564, #ff65f2, #ff69cf;

}

.tab-border-top-container {
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: xor;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    padding: var(--size);
    width: 100% !important;
    height: calc(100% - 1px) !important;
    background-color: transparent !important;
    border-radius: inherit;
    box-sizing: border-box;
}

.tab-border-top-container:before {
    content: "";
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: spinner var(--duration) cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
    background: conic-gradient(from 0deg at 50% 51.35%,
            rgba(185, 215, 243, 0) 0deg,
            rgba(185, 215, 243, 0) 289.4deg,
            var(--tab-gradient)),
        conic-gradient(from 180deg at 50% 51.35%,
            rgba(185, 215, 243, 0) 0deg,
            rgba(185, 215, 243, 0) 287.46deg,
            var(--tab-gradient));
    border-radius: inherit;
}

@keyframes spinner {
    100% {
        transform: translate(-50%, -50%) rotate(1turn);
    }
}

.tab {
    overflow: hidden;
}

.tab.active {
    border-radius: 100px !important;
    box-shadow: inset 0 1px 1px 0 rgba(199, 211, 234, 0.12),
        inset 0 24px 48px 0 rgba(199, 211, 234, 0.05),
        0 24px 32px 0 rgba(6, 6, 14, 0.7);
}